version: "3"
networks:
  nextcloud:
    driver: bridge
    internal: true
services:
  homeassistant:
    container_name: homeassistant
    image: "ghcr.io/home-assistant/home-assistant:stable"
    volumes:
      - /mnt/storage/AppData/homeassistant/config:/config
      - /mnt/storage/Media:/media
      - /etc/localtime:/etc/localtime:ro
    restart: unless-stopped
    privileged: true
    network_mode: host
  nextcloud:
    image: nextcloud
    container_name: nextcloud
    ports:
      - "8082:80"
    volumes:
      - /mnt/storage/AppData/nextcloud/html:/var/www/html
    restart: unless-stopped
    depends_on:
      - nextcloud_db
    links:
      - nextcloud_db
    networks:
      - default
      - nextcloud
    environment:
      - MYSQL_HOST=nextcloud_db
      - MYSQL_PASSWORD=dwelled-sacred-reason-amperage
      - MYSQL_DATABASE=nextcloud
      - MYSQL_USER=nextcloud
      - TRUSTED_PROXIES=0.0.0.0/0
      - OVERWRITEPROTOCOL=https
      - OVERWRITEHOST=nextcloud.ei.tech.eus
    logging:
      options:
        max-size: "5m"
        max-file: "3"

  nextcloud_db:
    image: yobasystems/alpine-mariadb:10.11.6
    container_name: nextcloud_db
    volumes:
      - /mnt/storage/AppData/nextcloud/db:/var/lib/mysql
    environment:
      - MYSQL_ROOT_PASSWORD=dwelled-sacred-reason-amperage
      - MYSQL_DATABASE=nextcloud
      - MYSQL_USER=nextcloud
      - MYSQL_PASSWORD=dwelled-sacred-reason-amperage
    restart: unless-stopped
    networks:
      - nextcloud
    logging:
      options:
        max-size: "5m"
        max-file: "3"
  pihole:
    container_name: pihole
    image: pihole/pihole:latest
    hostname: HomePi
    restart: unless-stopped
    ports:
      - "53:53/tcp"
      - "53:53/udp"
      - "67:67/udp"
      - "8081:80/tcp"
    environment:
      TZ: "Europe/Madrid"
      WEBPASSWORD: "capture-clutter-bulginess-suds"
      # ServerIP: REPLACEME
      # ServerIPv6: REPLACEME
      # IPv6: 'true'
    volumes:
      - /mnt/storage/AppData/pihole/etc-pihole/:/etc/pihole/
      - /mnt/storage/AppData/pihole/etc-dnsmasq.d/:/etc/dnsmasq.d/
    dns:
      - 127.0.0.1
      - 1.1.1.1
    # Recommended but not required (DHCP needs NET_ADMIN)
    #   https://github.com/pi-hole/docker-pi-hole#note-on-capabilities
    cap_add:
      - NET_ADMIN
    logging:
      options:
        max-size: "5m"
        max-file: "3"
  axelaula-getaldea:
    image: ghcr.io/sistemaaxel/axelaula:main
    ports:
      - "12321:12321"
    restart: always
    volumes:
      - /mnt/storage/AppData/axelaula/global:/usr/src/app/data
    dns:
      - 8.8.4.4
    environment:
      - "ET_USER=getaldea"
      - "ET_PASS=unfixed-smartness-purse-vividness"

  axelaula-translator:
    image: ghcr.io/sistemaaxel/axelaula:main
    ports:
      - "12320:12321"
    command: python3 translator.py
    restart: always
    environment:
      - "ET_USER=public_axau"
      - "ET_PASS=unfixed-smartness-purse-vividness"
    #  - /mnt/storage/AppData/axelaula/global:/usr/src/app/data
    dns:
      - 8.8.4.4
  paperless_broker:
    image: redis:7.2
    container_name: paperless_broker
    restart: unless-stopped

  paperless_db:
    image: postgres:16
    container_name: paperless_db
    restart: unless-stopped
    volumes:
      - /mnt/storage/AppData/paperlessngx/db/pgdata:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: paperless
      POSTGRES_USER: paperless
      POSTGRES_PASSWORD: paperless

  paperless_web:
    image: ghcr.io/paperless-ngx/paperless-ngx:latest
    container_name: paperless_web
    restart: unless-stopped
    depends_on:
      - paperless_db
      - paperless_broker
    ports:
      - 2226:8000
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8000"]
      interval: 30s
      timeout: 10s
      retries: 5
    volumes:
      - /mnt/storage/AppData/paperlessngx/data:/usr/src/paperless/data
      - /mnt/storage/AppData/paperlessngx/media:/usr/src/paperless/media
      - /mnt/storage/AppData/paperlessngx/export:/usr/src/paperless/export
      - /mnt/storage/AppData/paperlessngx/consume:/usr/src/paperless/consume
    environment:
      PAPERLESS_REDIS: redis://paperless_broker:6379
      PAPERLESS_DBHOST: paperless_db
      USERMAP_UID: 1000
      USERMAP_GID: 1000
      PAPERLESS_OCR_LANGUAGE: eng+esp+eus
      PAPERLESS_TIME_ZONE: Europe/Madrid
      # PAPERLESS_SECRET_KEY: SuperS4FE!123456
      # PAPERLESS_ADMIN_USER: bitteaendern
      # PAPERLESS_ADMIN_PASSWORD: p4sswort
  motioneye:
    container_name: motioneye
    ports:
        - 8765:8765
    hostname: motioneye
    volumes:
        - /etc/localtime:/etc/localtime:ro
        - /mnt/storage/AppData/MotionEye/etc/motioneye:/etc/motioneye
        - /mnt/storage/AppData/MotionEye/var/lib/motioneye:/var/lib/motioneye
    restart: always
    image: ccrisan/motioneye:master-amd64

  ersatztv:
    container_name: ersatztv
    environment:
      - TZ=Europe/Madrid
    ports:
      - 8409:8409
    volumes:
      - /home/naiel/ersatztv/config:/root/.local/share/ersatztv
      - /mnt/storage/Media:/margaretmedia:ro
    restart: unless-stopped
    image: jasongdove/ersatztv

  kdenlive:
    image: lscr.io/linuxserver/kdenlive:latest
    security_opt:
      - seccomp:unconfined #optional
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Madrid
      - SUBFOLDER=/ #optional
    volumes:
      - /mnt/storage/AppData/kdenlive/config:/config
      - /mnt/storage:/margaretstorage
    ports:
      - 3031:3001
    devices:
      - /dev/dri:/dev/dri #optional
    shm_size: "6gb" #optional
    restart: unless-stopped
  filebrowser:
    volumes:
          - /mnt/storage:/mnt/storage
          - /mnt/storage/AppData/filebrowser/filebrowser.db:/database/filebrowser.db
          - /mnt/storage/AppData/filebrowser/settings.json:/config/settings.json
    environment:
          - PUID=1000
          - PGID=1000
    ports:
          - 8809:80
    image: filebrowser/filebrowser:s6

  wyoming-whisper:
      ports:
          - 10300:10300
      volumes:
          - /mnt/storage/AppData/assist/whisper/data:/data
      image: rhasspy/wyoming-whisper
      command: --model tiny-int8 --language es
  wyoming-piper:
      ports:
          - 10200:10200
      volumes:
          - /mnt/storage/AppData/assist/piper/data:/data
      image: rhasspy/wyoming-piper
      command: --voice es_ES-sharvard-medium
  wyoming-openwakeword:
      ports:
          - 10400:10400
      image: rhasspy/wyoming-openwakeword
      command: --preload-model 'alexa'

      
  grocy:
    image: lscr.io/linuxserver/grocy:latest
    container_name: grocy
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Madrid
    volumes:
      - /mnt/storage/AppData/grocy/config:/config
    ports:
      - 9283:80
    restart: unless-stopped

  homepage:
    image: ghcr.io/gethomepage/homepage:latest
    container_name: homepage
    environment:
      PUID: 1000
      PGID: 1000
    ports:
      - 3101:3000
    volumes:
      - /home/naiel/naiel-docker/homepage:/app/config
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /mnt/storage:/mnt/storage:ro
    restart: unless-stopped
  nginx-file-listing:
    ports:
        - 80:80
    volumes:
        - /mnt/storage/Compartido:/mnt/data
    image: jetbrainsinfra/nginx-file-listing:0.2

  node-red:
    image: nodered/node-red:latest
    environment:
      - TZ=Europe/Madrid
    ports:
      - "1887:1880"
    volumes:
      - /mnt/storage/AppData/node-red/data:/data
  budge:
    image: lscr.io/linuxserver/budge:latest
    container_name: budge
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Madrid
    volumes:
      - /mnt/storage/AppData/budge/config:/config
    ports:
      - 8083:80
    restart: unless-stopped
  wikijs:
    image: lscr.io/linuxserver/wikijs:latest
    container_name: wikijs
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Madrid
    volumes:
      - /mnt/storage/AppData/wikijs/config:/config
      - /mnt/storage/AppData/wikijs/data:/data
    ports:
      - 8084:3000
    restart: unless-stopped
